snippet erb
	<% ${1} %>

snippet serb
	<%= ${1} %>

snippet button
	<%= button_to ${1}, ${2} %>

snippet each
	<% ${1}.each do |${2}| %>
		<%= ${3} %>
	<% end %>

snippet include
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

snippet if
	<% if ${1} %>
		${2}
	<% end %>

snippet datac
	<div data-controller="${1}">
	</div>
