# rails match
snippet mat
	match '${1:URL}', to: '${2:controller}#${3:method}', via: '${4:HTTP}'	

# ruby function
snippet def
	def ${1}
		${2}
	end

snippet say
	say "${1}", set_color(${2})

snippet each
	${1}.each do |${2}|
		${3}
	end
